---
layout: default
---

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-MML-AM_CHTML">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [["$", "$"], ["\\(", "\\)"]],
        processEscapes: true
      }
    });
  </script>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span>
    <span class="post-date">Posted date: {{ page.date | date_to_string }}</span>
    <span class="ert" style="float:right">
      <abbr title="Estimated reading time"> </abbr>
      {% assign words_total = page.content | replace: '
      <script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' |
      strip_html | number_of_words %}
      {% assign words_without_code = page.content | replace: '
      <pre class="highlight">', '<!--' | replace: '</pre>', '-->' | replace: '
      <script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' |
      strip_html | number_of_words %}
      {% assign words_without_math = page.content | strip_html | number_of_words %}
      {% assign words_without_either = page.content | replace: '
      <pre class="highlight">', '<!--' | replace: '</pre>', '-->' | strip_html | number_of_words %}

      {% assign words_code = words_total | minus: words_without_code | divided_by: 2.0 %}
      {% assign words_math = words_total | minus: words_without_math | times: 2.0 %}
      {% assign words = words_without_either | plus: words_code | plus: words_math | round %}
      {% assign ert = words | divided_by:250 | at_least: 1 %}
      Est Read time: {{ ert }} min
    </span>
  </span>
  {% include toc.html html=content %}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}